* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #F8F9FD;
    overflow-x: hidden;
} 

h1,
h2,
p {
    margin: 0;
    direction: rtl;
}

:root {
    --button-text-color: #FFFFFF;
    --dark-gray: #404040;
    --button-blue-color: rgb(57, 121, 217);
    --h1-sec-1: #262626;
}
header {
    background-color: #fff;
    width: 100%;
    position: fixed;
    z-index: 10;
}
.fa-bars:before {
    content: "\f0c9";
    display: none;
}
nav{
    height: 84px;
    display: flex;
    align-items: center;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
.nav-item {
    display: flex;
    justify-content: center;
}
.nav-logo img {
    max-width: 115px;
    height: 38px;
}
.nav-logo {
    justify-content: flex-end;
}
.items {
    display: flex;
    align-items: center;
    transition: 0.4s;
    margin-left: 20px;
}
.nav-item a {
    padding: 13px 15px;
    font-weight: 800;
    text-decoration: none;
    font-family: Vazir FD !important;
    color: #464646;
    font-size: 14px;
}
.buttons{
    margin-top: 5px;
}
button{
    text-align: center;
    align-items: center;
    background-color: #3979d9;
    border-radius: 100px;
    margin-left: 25px;
    width: 126px;
    height: 35px;
    transition: all ease 0.3s;
    border:0;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-family: Vazir FD !important;
    cursor: pointer;
}
.button-text {
    font-weight: 900;
    padding-right: 5px;
    padding-left: 5px;
}
button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 3px 25px 0px rgb(0 0 0 / 9%);
}
.items a:hover {
    color: #3979d9;
}

#sec1-back-div {
    background-image: url(images/tehran.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: calc(100vh - 85px);
    background-repeat: no-repeat;
}

#sec1-h1 {
    color: var(--h1-sec-1);
    font-family: peyda bl;
    font-size: 44px;
    line-height: 48px;
    font-weight: 900;
    max-width: 1140px;
    margin: 0 auto;
    height: 312px;
    padding: 9% 5% 0 0;
}

#h1-div1 {
    float: right;
    margin-left: 5px;
}

#h1-div2 {
    float: right;
}

#h1-div3 {
    float: right;
    padding-top: 1%;
    padding-left: 50%;
}

#sec1-div2 {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 488px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#sec1-h2 {
    font-family: peyda eb;
    color: #000000;
    font-size: 32px;
    font-weight: 800;
    margin-top: 100px;
}

#sec1-p {
    font-family: Vazir FD;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    max-width: 550px;
    margin-top: 20px;
}

#sec1-texts-div {
    height: 472px;
    margin-right: 80px;
}

.button-style {
    background-color: var(--button-blue-color);
    border: hidden;
    width: 170px;
    height: 46px;
    border-radius: 24px 24px 24px 24px;
    font-size: 16px;
    position: relative;
    margin-top: 40px;
    transition: all .3s ease-out;
    cursor: pointer;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #3979D9;
}

.button-style:hover {
    transform: translateY(-5px);
    color: #FFFFFF;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #3979D9;
    box-shadow: 0px 3px 25px 0px rgb(57 121 217 / 16%);


}

.button-style>span {
    position: absolute;
    top: 10px;
    left: 30px;
    color: #FFFFFF;
    font-family: Vazir FB;
}

.svg1-style {
    margin-top: 5px;
    position: absolute;
    top: 5px;
    right: 30px;
}
.section-two{
    height: 1230px;
    display: flex;
    flex-direction: column;
    background-color: #3979d9;
    max-width: 1140px;
    padding: 0px 50px;
    border-radius: 20px;
    color: #fff;
     margin: 60px auto 110px auto;
}
.box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 0px;
    align-items: center;
}
.first-part{
    margin-top:-60px ;
}
.text-one,
.text-three,
.text-two {
    color: #FFFFFF;
    text-align: right;
}
.text-one,.text-three{
    padding-right: 50px;
    padding-bottom: 50px;
}
.text-two{
    padding-left: 50px;
}
figcaption {
    font-family: peyda bl;
    color: #000000;
    font-size: 22px;
    font-weight: 900;
    direction: rtl;
    transform: translate(-23px, -65px);
}
.section-two img{
    border-radius: 20px;
}
.text h2 {
    font-size: 22px;
    font-weight: 800;
    font-family: peyda bl !important;
    margin-bottom: 20px;
}
.text p {
    color: rgba(255, 255, 255, 0.75);
    font-size: 16px;
    font-family: Vazir FD !important;
    line-height: 29.71px;
    direction: rtl;
    filter: contrast(1.03);
}
.section-two img{
    max-width: 356px;
    max-height:365px;
}
