* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #F8F9FD;
    overflow-x: hidden;
}

h1,
h2,
p {
    margin: 0;
    direction: rtl;
}

:root {
    --button-text-color: #FFFFFF;
    --dark-gray: #404040;
    --button-blue-color: rgb(57, 121, 217);
    --h1-sec-1: #262626;
}

header {
    position: fixed;
    height: 84px;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 10;
}

nav {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
    height: 84px;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
}

.main-content {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.button {
    width: 14%;
}

.other-content {
    display: flex;
    width: 86%;
}

.items {
    width: 70%;
}

.logo-item {
    width: 30%;
    position: relative;
}

.logo-item-img {
    display: flex;
    height: 100%;
    right: 0px;
    position: absolute;
    margin-right: 20px;
}

.logo-item-img img {
    width: 110px;
}

.items {
    align-items: center;
    align-content: center;

}

.items ul {
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
    padding: 0;
}

.items li {
    padding: 15px;
    list-style: none;
}

.items li a {
    text-decoration: none;
    color: #464646;
    font-size: 14px;
    font-weight: 900;
    line-height: 20px;
    font-family: Vazir FD !important;
}

.items li a:hover {
    color: #3979D9;

}

.install-button {
    display: inline-block;
    background-color: #3979D9 !important;
    border-radius: 100px;
    font-size: 14px;
    padding: 10px 13px 0px 21px;
    transition: all ease .3s;
    margin: 22px 5px 15px 25px;
}

.install-button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 3px 25px 0px rgb(0 0 0 / 9%);
}

.span-button {
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 14px;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
}

.download {
    font-size: 24px;
    margin-top: -10px;
    margin-left: 5px;
    display: inline-block;
    height: 24px;
    width: 24px;
}

.text-button {
    font-family: "Vazir FD";
    display: inline-block;
    font-size: 14px;
    font-weight: 900;
    line-height: 14px;
    height: 24.29px;
}

#sec1-back-div {
    background-image: url(images/tehran.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: calc(100vh - 85px);
    background-repeat: no-repeat;
}

#sec1-h1 {
    color: var(--h1-sec-1);
    font-family: peyda bl;
    font-size: 44px;
    line-height: 48px;
    font-weight: 900;
    max-width: 1140px;
    margin: 0 auto;
    height: 312px;
    padding: 9% 5% 0 0;
}

#h1-div1 {
    float: right;
    margin-left: 5px;
}

#h1-div2 {
    float: right;
}

#h1-div3 {
    float: right;
    padding-top: 1%;
    padding-left: 50%;
}

#sec1-div2 {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 488px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#sec1-h2 {
    font-family: peyda eb;
    color: #000000;
    font-size: 32px;
    font-weight: 800;
    margin-top: 100px;
}

#sec1-p {
    font-family: Vazir FD;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    max-width: 550px;
    margin-top: 20px;
}

#sec1-texts-div {
    height: 472px;
    margin-right: 80px;
}

.button-style {
    background-color: var(--button-blue-color);
    border: hidden;
    width: 170px;
    height: 46px;
    border-radius: 24px 24px 24px 24px;
    font-size: 16px;
    position: relative;
    margin-top: 40px;
    transition: all .3s ease-out;
    cursor: pointer;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #3979D9;
}

.button-style:hover {
    transform: translateY(-5px);
    color: #FFFFFF;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #3979D9;
    box-shadow: 0px 3px 25px 0px rgb(57 121 217 / 16%);


}

.button-style>span {
    position: absolute;
    top: 10px;
    left: 30px;
    color: #FFFFFF;
    font-family: Vazir FB;
}

.svg1-style {
    margin-top: 5px;
    position: absolute;
    top: 5px;
    right: 30px;
}

.section-two {
    display: flex;
    flex-direction: column;
    max-width: 1143px;
    height: 1171px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    background-color: #3979D9;
    border-radius: 22px;
}

.section-two-box {
    display: flex;
}

.first-part {
    margin-top: -60px;
    margin-bottom: 50px;
}

.second-part {
    height: 390.3px;
    margin-bottom: 50px;
}

.third-part {
    margin-bottom: 50px;
}

.image,
.text {
    width: 50%;
}

.images {
    background-repeat: no-repeat;
    width: 357px;
    height: 357px;
    border-radius: 24px 24px 0px 0px;
    margin-left: 120px;
    text-align: center;
}

.part-one-img {
    background-image: url(images/image-4.png);
}

.part-two-img {
    background-image: url(images/image-5.png);
}

.part-three-img {
    background-image: url(images/image-6.png);
}

.images h2 {
    padding-top: 300px;
    color: #000000;
    font-size: 22px;
    font-weight: 700;
    font-family: peyda bl !important;
    margin-left: 54px;
}

.text-one,
.text-three,
.text-two {
    padding-top: 110px;
    padding-right: 92px;
    color: #FFFFFF;
    text-align: right;
}

.text-two {
    padding-right: 100px;
}

.text h2 {
    font-size: 22px;
    font-weight: 800;
    font-family: peyda bl !important;
    margin-bottom: 20px;
}

.text p {
    color: rgba(255, 255, 255, 0.75);
    font-size: 16px;
    font-family: Vazir FD !important;
    line-height: 29.71px;
}

#sec3-p1-div {
    max-width: 1092px;
    margin: 0 auto;
    height: 207px;
    margin-top: 168px;

}

#sec3-p1-h2 {
    position: absolute;
    right: 55px;
    top: 45px;
    font-size: 26px;
    font-family: peyda b;
}

#sec3-s>p {
    font-size: 14px;
    font-family: Vazir FD;
    margin-top: 13px;
}

#sec3-p1-box {
    height: 100%;
    background-color: #404040;
    border-radius: 16px 16px 16px 16px;
    color: #FFFFFF;
    cursor: pointer;
    position: relative;
}

#sec3-p1-search {
    display: flex;
    margin-top: 50px;
    position: absolute;
    top: 50px;
    right: 55px;
}

#sec3-p1-search>svg {
    width: 48px;
    height: 48px;
    transition: all .3s;
    border-radius: 50%;
    margin-left: 25px;
}

#sec3-p1-search>svg:nth-child(1) {
    margin-left: 55px;
}

#sec3-p1-search>svg:hover {
    background-color: #3979D9;
    border-radius: 50%;
}

#sec3-p1-search>div {
    height: 48px;
    width: 676px;
    border-radius: 100px;
    border: 0;
    background-color: #FFF;
    color: #BBBBBB;
    display: flex;
    position: relative;
    margin-left: 45px;
}

#search-ico::before {
    content: "\f002";
    color: #404040;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}

#search-ico {
    width: 17px;
    height: 17px;
    margin-top: 15px;
    margin-left: 20px;
    position: absolute;
}

#sec3-p1-search>div>p {
    position: absolute;
    right: 20px;
}

#sec3-p2-div {
    max-width: 1140px;
    margin: 0 auto;
    height: 178px;
    padding: 80px 0;
    display: flex;
}

#sec3-p2-box1 {
    background-color: #F2F4FB;
    height: 178px;
    width: 447px;
    padding: 0 20px;
    position: relative;
}

#sec3-p2-box2 {
    background-color: #F2F4FB;
    height: 178px;
    width: 586px;
    padding: 0 20px;
    position: relative;
    margin-left: 100px;
}

.sec3-p2-btn {
    position: absolute;
    right: 30px;
    bottom: 40px;
    transition: all 0.3s ease;
    font-size: 14px;
    font-weight: bold;
    fill: #000000;
    color: #000000;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #4E7FEA;
    border-radius: 20px 20px 20px 20px;
    font-family: Vazir FD;
    width: 105px;
    height: 41px;
    cursor: pointer;

}

.sec3-p2-btn:hover {
    box-shadow: 0px 3px 25px 0px rgb(0 0 0 / 9%);
    transform: translatey(-5px);
}

.sec3-p2-btn>span::before {
    content: "\f104";
    margin-right: 20px;
    font-family: "Font Awesome 5 Free";
    color: #3979d9;

}

.sec3-p2-h2 {
    position: absolute;
    right: 30px;
    top: 40px;
    font-family: peyda b;
    font-size: 26px;
}


.sec3-p2-img {
    position: absolute;
    top: 15px;
    left: 50px;
}

footer {
    margin-top: 200px;
    padding-top: 80px;
}

#footer-up-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    width: 100%;
    height: 61px;
}

#footer-up-sec>p {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    font-size: 15px;
    font-family: Vazir FD;
}

#up-sec-a {
    padding: 4px 15px;
    background-color: #ffffff;
    color: #1976D2;
    border-radius: 15px;
    margin-right: 20px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}

#footer-sec2-main {
    display: flex;
    justify-content: center;
    height: 285px;
    padding-top: 50px;
    padding-bottom: 40px;
}

#f-sec2-p1 {
    background-color: #EFF1FA;
    margin-right: 22px;
    position: relative;
    width: 263px;
    display: flex;
    justify-content: center;
}

#f-sec2-p1>img {
    position: absolute;
    top: -100px;
}

#f-sec2-p1>p {
    margin-top: 80px;
    height: 66px;
    width: 244px;
    font-family: peyda b;
    color: #4A529E;
    font-size: 18px;
    text-align: center;
    font-weight: 800;
    line-height: 2;
}

.f-links {
    padding: 10px;
    height: 168px;
    width: 285px;
}

.ft {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: Vazir FD;
}

.fb {
    color: #404040;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;
    font-weight: 400;
    font-family: Vazir FD;
    transition: .4s;
    cursor: pointer;


}

.fb:hover {
    color: #020101;
}

#fs-ad {
    font-weight: 700;
    font-family: Vazir FD;
    color: #404040;
    font-size: 15px;
}

#fp-ad {
    height: 60px;
    width: 265px;
    margin-bottom: 1.75em;
    font-family: Vazir FD;
    color: #404040;
    font-size: 15px;
}

#fp-t {
    font-family: Vazir FD;
    color: #000000;
    font-size: 15px;
    padding-bottom: 4px;
    margin-bottom: 5px;
}

#fp-t::before {
    content: "\f3fe";
    margin-left: 12px;
    font-family: "Font Awesome 5 Brands";
    color: #3979d9;
    line-height: 16px;
    font-size: 16px;
}

#fp-e {
    font-family: Vazir FD;
    color: #000000;
    font-size: 15px;
}

#fp-e::before {
    content: "\f0e0";
    margin-left: 12px;
    font-family: "Font Awesome 5 Free";
    color: #3979d9;
    line-height: 16px;
    font-size: 16px;
    font-weight: 900;
}

#fl {
    display: flex;
    justify-content: center;
    margin-bottom: 1.75em;
    line-height: 26px;
    height: 70px;
    font-size: 14px;
    font-family: Vazir FB;
    font-weight: 500;
}

#fl-s {
    color: #0274be;
    transition: all .2s linear;
    cursor: pointer;
}

#fl-s:hover {
    color: #3a3a3a;
}